<!-- Esta seccion contiene textos incompletos deben completar el texto -->
<section id="nosotros" class="contenido">
    <h1 class="somos"> Somos Click Verde, una consultora especializada en comercio electrónico sostenible. Nuestra misión es empoderar a las empresas a construir negocios en línea que sean rentables y respetuosos con el medio ambiente. Nuestra visión es un futuro donde el comercio electrónico sea una fuerza positiva para el planeta, impulsando un consumo responsable y un crecimiento económico sostenible.</h1> 
    <h2 class="mision"> Nuestra Mision: Es Brindar soluciones innovadoras y personalizadas para que las empresas puedan desarrollar negocios en línea sostenibles y exitosos</h2>
  </section>
